name: Synchronize backlog status with PR

on:
  pull_request:
    types:
      - opened 
      - closed

env:
  BACKLOG_KEY: ${{ secrets.BACKLOG_KEY }}
  BACKLOG_BASE_URL: https://noritama73.backlog.com

jobs:
  sync-backlog:
    runs-on: ubuntu-latest
    steps:
      - name: Get Project Name
        id: get-ticket-name
        run: |
          PROJECT_ID=`echo "${{ github.event.pull_request.title }}" | sed -e 's/.*<\(.*\)-[0-9]*>.*/\1/'`
          ISSUE_ID=`echo "${{ github.event.pull_request.title }}" | sed -e 's/.*<\(.*-[0-9]*\)>.*/\1/'`
          echo "project_id=`echo ${PROJECT_ID}`" >> $GITHUB_OUTPUT
          echo "issue_id=`echo ${ISSUE_ID}`" >> $GITHUB_OUTPUT

      - name: Get Status List
        id: get-status-list
        run: |
          LIST_JSON=`curl ${{ env.BACKLOG_BASE_URL }}/api/v2/projects/${{ steps.get-ticket-name.outputs.project_id }}/statuses?apiKey=${{ env.BACKLOG_KEY }}`
          PENDING_STATUS_ID=`echo ${LIST_JSON} | jq '.[] | select(.name == "処理中") | .id'`
          echo "pending_status_id=`echo ${PENDING_STATUS_ID}`" >> $GITHUB_OUTPUT
          FINISHED_STATUS_ID=`echo ${LIST_JSON} | jq '.[] | select(.name == "完了") | .id'`
          echo "finished_status_id=`echo ${FINISHED_STATUS_ID}`" >> $GITHUB_OUTPUT

      - name: Set pending status
        if: github.event.pull_request.merged == false
        run: |
          curl -X PATCH --data-urlencode 'statusId=${{ steps.get-status-list.outputs.pending_status_id }}' ${{ env.BACKLOG_BASE_URL }}/api/v2/issues/${{ steps.get-ticket-name.outputs.issue_id }}?apiKey=${{ env.BACKLOG_KEY }}'

      - name: Set finished status
        if: github.event.pull_request.merged == true
        run: |
          echo "merged"
