name: Make backlog status finished

on:
  pull_request:
    types:
      - closed

env:
  BACKLOG_BASE_URL: https://noritama73.backlog.com

jobs:
  sync-backlog:
    runs-on: ubuntu-latest
    steps:
      - name: Get Project Name
        id: get-ticket-name
        run: |
          PROJECT_ID=`echo "${{ github.event.pull_request.title }}" | sed -e 's/.*<\(.*\)-[0-9]*>.*/\1/'`
          ISSUE_ID=`echo "${{ github.event.pull_request.title }}" | sed -e 's/.*<\(.*-[0-9]*\)>.*/\1/'`
          echo "project_id=`echo ${PROJECT_ID}`" >> $GITHUB_OUTPUT
          echo "issue_id=`echo ${ISSUE_ID}`" >> $GITHUB_OUTPUT

      - name: Get Status List
        id: get-status-list
        run: |
          LIST_JSON=`curl ${{ env.BACKLOG_BASE_URL }}/api/v2/projects/${{ steps.get-ticket-name.outputs.project_id }}/statuses?apiKey=${{ secrets.BACKLOG_KEY }}`
          FINISHED_STATUS_ID=`echo ${LIST_JSON} | jq '.[] | select(.name == "完了") | .id'`
          echo "finished_status_id=`echo ${FINISHED_STATUS_ID}`" >> $GITHUB_OUTPUT

      - name: Set status
        if: github.event.pull_request.merged == true
        env: 
          BASE_REF: ${{ github.event.pull_request.base_ref }}
        run: |
          echo "$BASE_REF"
          if [ "$BASE_REF" == "develop" ]; then
            curl -X PATCH --data -urlencode 'statusId=${{ steps.get-status-list.outputs.finished_status_id }}' ${{ env.BACKLOG_BASE_URL }}/api/v2/issues/${{ steps.get-ticket-name.outputs.issue_id }}?apiKey=${{ secrets.BACKLOG_KEY }}
          fi
